/*This is the css file for the website*/

/*Headings*/
h1{
  text-align: centre;
  color:#000000;
  background-color:#0994b5;
}
h2{
  color:#000000;
}
/*Line*/
hr{
  color:#000000;
  border: none;
}

/*Images with flexbox*/
.row {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
img {
  width:200px;
  height:50;
  border:2px;
  border-color:#000000;
}

/*Background image*/
body{
  background-image:url("Background.png");
  background-size:cover;
  background-repeat:no-repeat;
}

