/*This is the css file for the website*/

/*Headings*/
h1{
  text-align: centre;
  colour:white;
}

h2{
  colour:white;
  
}

/*Line*/
hr{
  color:white;
  border: none;
}

/*Images*/
.row {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around
}
img {
  width:200px;
  height:auto;

/*Background colour*/
body{
  background-color:#9df9ef
}

/*Main paragraph text*/
p {
  color:white;
}
