/*This is the css file for the website*/

/*Headings*/
h1{
  text-align: centre;
}
/*Line*/
hr{
  color:#000000;
  border: none;
}

/*Images with flexbox*/
.row {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
img {
  width:200px;
  height:auto;
}

/*Background image*/
body{
  background-image:url("Background.png");
  background-size:cover;
  backgroun-repeat:no-repeat;
}

